<div class="container">
  <% @user.each do |user|  %>
      <% if current_user != user%>
      <p>Name:  <%= user.username %> </p> <br>
      <p>Email: <%= user.email %></p> <br>
      
      <% if current_user.friend_requested?(user) %>
        <%= button_to 'Cancel Request', {:controller => "users", :action => "cancel_friend_request",:invited_id => user} , :method=>:post  %>
      <%elsif current_user.we_are_friends?(user) %>
          <%= button_to "Delete Friend #{user.username}", {:controller => "users", :action => "delete_friend",:friend_d => user} , :method=>:post  %>
      <%elsif request?(user)%>
          <%= button_to 'Accept  Request', {:controller => "users",:friend_o =>user.id, :action => "accept_friend"} , :method=>:post  %>
      <%else%>
          <%= button_to "Add Friend #{user.username}", {:controller => "users", :action => "send_friend_request",:user_id => user} , :method=>:post  %>
      <%end%>
    <%end%>
    <% end  %>
</div>