<div class="container">
  <h4>Registered Users</h4>
  <br>
  <% @users.each do |user|%>
   <% if user != current_user%>
      <h6>Name: <%= user.username%></h6>
     <h6>Mail: <%= user.email%></h6>
     <% if current_user.friend_requested?(user) %>
        <%= button_to 'Cancel Request', {:controller => "friendships", :action => "cancel_friend_request",:invited_id => user} , :method=>:post  %>
     <%elsif current_user.we_are_friends?(user) %>
          <%= button_to "Delete Friend #{user.username}", {:controller => "friendships", :action => "delete_friend",:friend_d => user} , :method=>:post  %>
          <%elsif request?(user)%>
          <%= button_to 'Accept  Request', {:id=> "addbutton",:controller => "friendships",:friend_o =>user.id, :action => "accept_friend"} , :method=>:post  %>
          <%else%>
            <%= button_to "Add Friend #{user.username}", {:controller => "friendships", :action => "send_friend_request",:user_id => user} , :method=>:post  %>
    <%end%>
  <br>
  <%end%>
<%end%>
</div>
