<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Socialbook", root_path%>
    <nav class="navbar">
      <ul class="navbar">
      <% if user_signed_in? %>
 <li>
 <%= link_to("Hello, #{set_name}", users_show_path) %>
 </li>
  <li>
 <%= link_to('Users', users_show_path) %>
 </li>
   <li>
    <%= link_to("Friends(#{current_user.friends.size})", friends_path) %>
  </li>
   <li>
 <%= link_to('Show Posts', posts_path) %>
 </li>
    <li class="nav-item"> <%= link_to 'Create post', new_post_path  %></li>
    <li class="nav-item"> <%= link_to "Friends  requests(#{current_user.pending_requests.size})",  friendrequests_path  %> </li>
 <li class="nav-item">
 <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
 </li>
<% else %>
 <li>
 <%= link_to('Login', new_user_session_path) %>
 </li>
 <li>
 <%= link_to('Sign Up', new_user_registration_path) %>
 </li>
 <li>
  <% unless current_user %>
  <% else %>  <%= current_user[:name] %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>
 </li>
<% end %>
      </ul>
    </nav>
  </div>
</header>
