<div class="container col d-flex justify-content-center mt-5">
  <div class="w-50">
  <div class="d-flex justify-content-center">
    <%= form_for @post do |f|  %>
      <%= f.text_field :content, placeholder:'What are you thiking?' %><br>
      <%= f.file_field :avatar %><br>
      <%= f.submit 'Post it',:class => 'btn mt-2' %>
    <% end %>
    </div>
    <br>
    <div class="separator"><div>
    <br>
      <% @posts.each do |post| %>
      <% @post = post %>
      <div>
      <%= author_avatar(post) %>
      Author: <%= post.author.username %>
      <div>
      <br>
      <%= post_picture(post) %><br>
      <%= post.content %>
      <br>
      <div class="container d-flex justify-content-around">
      Likes:
       <%= post.likes %>
      <%= link_to 'Like', {:controller => "posts", :action => "add_like", :post_id => @post.id, } , :method=>:post  %>
      <%= link_to 'View', post %>
      </div>

      <br><br>
      <div class="separator"><div>
      <br>
    <% end %>
  </div>
  <%= will_paginate @posts %>
</div>
