<div class="container col d-flex justify-content-center">
  <div>
    
    <% @posts.each do |post| %>
    <%= render 'shared/post_a_post' %>
      <% @post = post %>
      <%= author_avatar(post) %>
      <%= post.author.first.username %>
      <%= post.content %>
      <%= post_picture(post) %>
      <br>
      <%= post.likes %>
      <%= link_to 'Like', {:controller => "posts", :action => "add_like", :post_id => @post.id, } , :method=>:post  %>
      <br>
    
      <% post.comments.each do |comment| %>
      <%= comment.author.first.username %>
      <br>
      <%= comment.content %>
    <% end %>
    <%= form_for(@comment) do |f| %>
      <div class="field">
        <%= f.text_field :content %>
        <%= f.hidden_field :id, :value=>post.id %>
      </div>
      <div class="actions">
        <%= f.submit "Comment" %>
      </div>
      <%end %>
      <br>
      <%= link_to  "View Post", post,id:"post-button" %>
      <br>
      <br>
    
    <% end %>
    <br>
  <div>
</div>
