<div class="container col d-flex justify-content-center">
  <div>
    <%= form_for @post do |f|  %>
    <%= f.text_field :content, placeholder:'What are you thiking?' %><br>
    <%= f.file_field :avatar %><br>
    <%= f.submit 'Post it' %>
  <% end %>
    <% @posts.each do |post| %>
      <% @post = post %>
      <div class='shadow hoverable'>
      <%= author_avatar(post) %>
      <%= post.author.username %><br>
      <%= post.content %>
      <%= post_picture(post) %>
      <br>
      <%= post.likes %>
      <%= link_to 'Like', {:controller => "posts", :action => "add_like", :post_id => @post.id, } , :method=>:post  %>
      <%= link_to 'View', post %>
      </div>
      <br>
    <% end %>
  </div>
  <%= will_paginate @posts %>
</div>
