<div class="container col d-flex justify-content-center">
  <div>
    <br>
    ***********************************************************************************************************
    <% @posts.each do |post| %>
      <% @post = post %>
      <% user = User.where(id: post.user_id) %>
      <br>
      <% user.each do |user| %>
        Post Author: <%= user.username %>
      <% end %><br>
    Reactions:
    <%= post.likes %><br><br>
    Content: <br>  <%= post.content %> <br><br>

    <h4>Comments section</h4>
    <% post.comments.each do |comment| %>
      comment author: <%= author_name(comment) %><br>
      Comment: <br> <%= comment.content %><br>
      <br>
      <br>
    <% end %>
    <%= form_for(@comment) do |f| %>
      <div class="field">
        <%= f.text_field :content %>
        <%= f.hidden_field :id, :value=>post.id %>
      </div>
      <div class="actions">
        <%= f.submit "Comment" %>
      </div>
      <%end %>
      <br>
      <%= link_to  "View Post", post,id:"post-button" %>
      <br>
      <br>
    ***********************************************************************************************************
    <% end %>
    <br>
    ***********************************************************************************************************
  <div>
</div>
