<div class="container">
    <h4>View from Post</h4>
    <br>
    <h5>Author: </h5> <%=post_author(@post) %><br><br>
    <h5>User reactions: <%= @post.likes %></h5>
    <%= button_to 'Like', {:controller => "posts", :action => "add_like_post", :post_id => @post.id, } , :method=>:post  %>
    <br>
    <h5>Content:</h5> <%= @post.content %> <br><br>
    Comments Section:<br><br>
    <% @post.comments.each do |comment| %>
        <div>Author: <%=comment_author(comment) %><br> <%= comment.content %></div>
        <br>
    <% end %>
    <%= form_for(@comment) do |f| %>
      <div class="field">
          <%= f.text_field :content %>
          <%= f.hidden_field :id, :value=>@post.id %>
      </div>
      <div class="actions">
          <%= f.submit "Comment" %>
      </div>
    <%end %>
</div>