<div class="container d-flex justify-content-center">
  <div>
    <h3 class="d-flex justify-content-center">Post Description </h3>
    <br>

 Post author:
        <%= display_avatar(@post.author) %> <%= @post.author.username %></h5>
   <h5> Content:</h5>
     <%= post_picture(@post) %>
     <br>
    <%= @post.content %>
    <br>
    Likes: <%= @post.likes %>
    <%= link_to 'Like', {:controller => "posts", :action => "add_like", :post_id => @post.id, } , :method=>:post,:style=>"color:black;"  %>
<br>
    <%= form_for @comment do |f|  %>
      <%= f.text_field :content,:class=>"w-75 mb-3",:placeholder=>"Comment here..." %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit 'Comment it',:class=>"btn w-50" %>
    <% end %>
    <div class="container">
      <% @comments.each do |comment| %>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= comment_author_avatar(comment) %>
          </div>
        <div class="col-md-8">
      <div class="card-body">
      <h5 class="card-title"><%= comment.author.username%></h5>
      <p class="card-text"><%= comment.content %></p>
      <p class="card-text"><small class="text-muted"><%=comment.created_at%></small></p>
      </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @comments %>
  </div>
</div>




