<div class="container">
    <%= post_picture(@post) %>
    <%= @post.author.username %><br>
    <%= @post.content %><br>
    <%= @post.likes %>
    <%= link_to 'Like', {:controller => "posts", :action => "add_like", :post_id => @post.id, } , :method=>:post  %>
<div>

<div class="container">
   <% @comments.each do |comment| %>
   <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><%= comment.author.username %></h5>
          <p class="card-text"><%= comment.content %></p>
        </div>
      </div>
    <% end %>
</div>
<%= will_paginate @comments %>
<%= link_to 'Comment it', new_comment_path(key: "#{@post.id}") %>



